@tailwind base;
@tailwind components;
@tailwind utilities;

.column-300{
    grid-template-columns: 300px 1fr;
}
.text-hsl{
    color:hsl(316, 30%, 36%) !important;
}
.bg-hsl{
  background: linear-gradient(135deg, #718096, #63b3ed) !important;
}
.animate-typewriter {
    border-right: .15em solid #000;
    animation: blink 1s steps(1) infinite;
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
.animate-typewriter {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 10s steps(1) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: max-content;
    }
  }
.h-70vh{
    height: 70vh;
}
  