@tailwind base;
@tailwind components;
@tailwind utilities;

.row-min-content{
  grid-template-rows: min-content;
}
.animate-typewriter {
    border-right: .15em solid #000;
    animation: blink 1s steps(1) infinite;
}
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
.animate-typewriter {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 10s steps(1) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: max-content;
    }
  }

  