@tailwind base;
@tailwind components;
@tailwind utilities;

ul li ul li {
  counter-increment: item;
  list-style-type: none;
  position: relative;
  padding-left: 30px;
}
ul li ul li::before {
  content: counter(item) ".";
  position: absolute;
  left: 0;
  font-weight: bold;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}


.row-min-content{
  grid-template-rows: min-content;
}
.animate-typewriter {
    border-right: .15em solid #000;
    animation: blink 1s steps(1) infinite;
}
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
.animate-typewriter {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 10s steps(2) 0.5s 1 normal both, blink 0.5s steps(2) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: max-content;
    }
  }

  